<form method="post" action="/create-post">
  <label for="dish">Dish: </label>
  <input type="text" name="dish" required/>

  <label for="chef_name">Chef: </label>
  <input type="text" name="chef_name" required/>

  <label for="description">Description: </label>
  <textarea name="description" required></textarea>

  <label for="background_color">Color: </label>
  <select name="background_color" required>
    <option value="red">red</option>
    <option value="yellow">yellow</option>
    <option value="blue">blue</option>
    <option value="green">green</option>
    <option value="purple">purple</option>
  </select>

  <input type="submit"/>

</form>
