body {
  background-color: white;
  font-family: 'Helvetica';
}

header {
  width: 100%;
  background: crimson;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
}

.nav-bar {
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.content-wrapper {
  margin-top: 100px;
}
