<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saucy Psychic Ninjas Guesthouse Dinners</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <header>
      {{>header}}
    </header>

    <section>
      {{{content}}}
    </section>

    <footer>
      {{>footer}}
    </footer>

  </body>
</html>
